body {
    background-color: lightblue;}
.weather-app{
        background-color: white;
        margin: 30px auto ;
        max-width: 600px;
        font-family: 'Oswald', sans-serif;
       
    }
    .weather-app-details{
        display: flex;

    }
    .weather-app-image{
        display: flex;
    }
    .weather-app-temp {
        display: flex;
    }
    .weather-app-degrees {
        display: flex;
    }
